@use "../../index.scss" as *;

.propertyCard{
    width: 30%;

    .card-img{
        width: 100%;
        height: 250px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .body{
        margin-top: 20px;
        position: relative;

        .popular{
            position: absolute;
            top: -35px;
            left: -10px;
            background-color: $color-main;
            width: 120px;
            padding: 5px 20px;
            border: none;
            border-radius: 8px;
            font-family: $font-family;
            font-size: 0.8rem;
            font-weight: 600;
            color: #fff;
            z-index: 1;

            .icon{
                color: #fff;
                margin-right: 5px;
                font-size: 1.2rem;
            }

            &:after{
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -10px;
                border-width: 10px;
                border-style: solid;
                border-color: $color-main transparent transparent transparent;
            }
        }

        .like{
            position: absolute;
            right: 20px;
            border: 1px solid $color-main;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            .icon{
                color: $color-main;
                font-size: 1.5rem;
            }

            &:hover{
                background-color: $color-main;
                color: #fff;

                .icon{
                    color: #fff;
                }
            }
        }

        .price{
            font-family: $font-family;
            color: $color-main;
            font-size: 1.3rem;
            font-weight: 600;

            span{
                font-size: 0.8rem;
            }
        }

        .name{
            font-family: $font-family;
            color: $color-main;
            font-size: 1.1rem;
            font-weight: 600;
            color: #000;
        }

        .address{
            font-family: $font-family;
            font-size: 0.8rem;
            font-weight: 600;
            color: #adadad;
        }

        .infos{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-top: 1px solid $color-main;
            margin-top: 20px;
            padding: 10px 5px;

            .info{
                font-family: $font-family;
                color: $color-main;
                font-size: 0.8rem;
                font-weight: 600;
                text-align: center;

                .icon{
                    color: $color-main;
                    margin-right: 5px;
                    font-size: 1.5rem;
                }
            }
        }
    }

    @media screen and (max-width: 1400px) {
        width: 45%;
    }

    @media screen and (max-width: 995px) {
        width: 49%;

        .infos{
            .info{
                font-size: 0.5rem;

                .icon{
                    font-size: 1rem;
                    display: block;
                }
            }
        }
    }

    @media screen and (max-width: 770px) {
        width: 80%;
        margin-bottom: 20px;
    }

    @media screen and (max-width: 410px) {
        width: 100%;
    }
}